<p>Product {{productId}}</p>

<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <label>
        Name:
        <input type="text" formControlName="name">
    </label>

    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
        Name is required
    </div>

    <label>
        Description:
        <input type="text" formControlName="description">
    </label>

    <label>
        Quantity:
        <input type="number" formControlName="quantity">
    </label>

     <label>
        Price:
        <input type="price" formControlName="price" step="0.01" min="0">
    </label>

    <label>
        Product image:
        <input type="file" accept="image/*" (change)="onFileSelected($event)">
    </label>

    <img *ngIf="imageUrl" [src]="imageUrl">

    <button type="submit">Update Product</button>
</form>